/* universal */
html {
	overflow-y: scroll;
}

body {
	padding-top: 20px;
	font-family: "微软雅黑", "宋体";
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	background-color: lightgray;
}

.bg {
	background-image: -moz-linear-gradient(top, #18B0D7, #E73408); /*火狐*/
	background: -o-linear-gradient(top, #18B0D7 0%, #E73408 100%);/*Opera*/
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #18B0D7), color-stop(1, #E73408)); /*Chrome*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#18B0D7', endColorstr='#E73408', GradientType='0'); /*IE*/
}

.tool {
	background-image: url(../images/tool/bg.jpg);
}

/* typography */
h1,h2,h3,h4,h5,h6 {
	line-height: 1;
}

h3 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	/*text-align: center;*/
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */
.logo {
	float: left;
	color: #555;
	font-size: 18px;
}

hr {
	border-color: #00886D;
}

/* footer */
.footer {
	margin-top: 30px;
	margin-bottom: 20px;
	padding-top: 10px;
	border-top: 1px dotted darkgray;
	color: gray;
}

.footer a {
	color: #444444;
}

.footer a:hover {
	color:black;
}

.footer ul {
	float: right;
	list-style: none;
}

.footer ul li {
	float: left;
	margin-left: 10px;
}

#copyright {
	text-align: center;
	font-size: 14px;
	font-family: Comic Sans MS, 微软雅黑
}

.featurette-divider {
	margin: 30px 0;
}

.featurette {
	padding-top: 60px;
	overflow: hidden;
}

.featurette-image {
	margin-top: -60px;
}

.featurette-image.pull-left {
margin-right: 30px;
}

.featurette-image.pull-right {
margin-left: 30px;
}

.featurette-heading {
	font-size: 30px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}
