/* universal */
html {
	overflow-y: scroll;
}

body {
	padding-top: 49px;
	font-family: "微软雅黑", "宋体";
	text-align: center;
	/*color: #fff;*/
	/*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	background-color: white;/*lightgray;*/
}

.bg-pure-color {
	background-image: -moz-linear-gradient(top, #6655AA, #AA5588); /*火狐*/
	background: -o-linear-gradient(top, #6655AA 0%, #AA5588 100%);/*Opera*/
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6655AA), color-stop(1, #AA5588)); /*Chrome*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6655AA', endColorstr='#AA5588', GradientType='0'); /*IE*/
}

.bg-blue {
	background-image: url(../images/bg-blue.jpg);
}

.text-blue {
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* typography */
h1,h2,h3,h4,h5,h6 {
	line-height: 1;
}

h3 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	/*text-align: center;*/
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */
.logo {
	float: left;
	color: #555;
	font-size: 18px;
}

hr {
	border-color: #00886D;
}

/* footer */
.footer {
	margin-top: 30px;
	margin-bottom: 20px;
	padding-top: 10px;
	border-top: 1px dotted darkgray;
	color: gray;
}

.footer a {
	color: #444444;
}

.footer a:hover {
	color:black;
}

.footer ul {
	float: right;
	list-style: none;
}

.footer ul li {
	float: left;
	margin-left: 10px;
}

#copyright {
	text-align: center;
	font-size: 14px;
	font-family: Comic Sans MS, 微软雅黑
}

.featurette-divider {
	margin: 30px 0;
}

.featurette {
	padding-top: 100px;
	overflow: hidden;
}

.featurette-image {
	margin-top: -100px;
}

.featurette-image.pull-left {
	margin-right: 30px;
}

.featurette-image.pull-right {
	margin-left: 30px;
}

.featurette-heading {
	font-size: 30px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

.block {
	margin-top: 30px;
	border-bottom: 1px solid darkgray;
	font-size: 15px;
	text-align: left;
}

/* download */
.download-bar {
  background: #333;
  border: 5px solid #555;
  padding: 10px;
  margin: 10px -20px 20px;
  position: relative;
  text-align: left;
}

.download-bar .inner {
  overflow: hidden;
}

.download-bar .blc {
  border: 10px solid black;
  border-color: transparent transparent black;
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  bottom: -15px;
  left: 0;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.download-bar .trc {
  border: 10px solid black;
  border-color:  black transparent transparent;
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: -15px;
  right: 0;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.download-button {
	float: right;
	margin: 0px 10px 0px 10px;
}
