/* universal */
html {
	overflow-y: scroll;
}

body {
	padding-top: 20px;
	font-family: "微软雅黑", "宋体";
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	background-color: lightgray;
}

.bg {
	background-image: -moz-linear-gradient(top, #66A3FF, #227AFF); /*火狐*/
	background: -o-linear-gradient(top, #66A3FF 0%, #227AFF 100%);/*Opera*/
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #66A3FF), color-stop(1, #227AFF)); /*Chrome*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66A3FF', endColorstr='#227AFF', GradientType='0'); /*IE*/
}

.tool {
	background-image: url(../images/tool/bg.jpg);
}

/* typography */
h1,h2,h3,h4,h5,h6 {
	line-height: 1;
}

h3 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	/*text-align: center;*/
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */
.logo {
	float: left;
	color: #555;
	font-size: 18px;
}

hr {
	border-color: #00886D;
}

/* footer */
.footer {
	margin-top: 30px;
	margin-bottom: 20px;
	padding-top: 10px;
	border-top: 1px dotted darkgray;
	color: gray;
}

.footer a {
	color: #444444;
}

.footer a:hover {
	color:black;
}

.footer ul {
	float: right;
	list-style: none;
}

.footer ul li {
	float: left;
	margin-left: 10px;
}

#copyright {
	text-align: center;
	font-size: 14px;
	font-family: Comic Sans MS, 微软雅黑
}

.featurette-divider {
	margin: 30px 0;
}

.featurette {
	padding-top: 60px;
	overflow: hidden;
}

.featurette-image {
	margin-top: -60px;
}

.featurette-image.pull-left {
margin-right: 30px;
}

.featurette-image.pull-right {
margin-left: 30px;
}

.featurette-heading {
	font-size: 30px;
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}


.field-group {
	text-align: left;
	border-radius: 5px;
	min-height: 30px;
	line-height: 30px;
	margin-top: 10px;
	border: 1px solid #D5D5D5;
}

/*
.field-group:hover {
  background: #ddd;
}*/
.field-group h1,.field-group h2 ,.field-group h3,.field-group h4,.field-group h5,.field-group h6, .field-group-title {
	/*height: 23px;*/
	color: #333;
	margin-bottom: 10px;
	padding: 10px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0066FF), color-stop(100%,#E9E9E9));
	background-image: -moz-linear-gradient(top, #0066FF, #E9E9E9);
  	background-image: -ms-linear-gradient(top, #0066FF, #E9E9E9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0066FF', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0066FF', endColorstr='#E9E9E9')";
	border: 1px solid #D5D5D5;
	border-width: 1px !important;
	border-style: solid !important;
	-webkit-border-radius: 4px 4px 0 0 !important;
	-moz-border-radius: 4px 4px 0 0 !important;
	border-radius: 4px 4px 0 0 !important;
	font-size: 14px;
	font-weight: bold;
	line-height: 12px;
}

.field-group-close {
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 15px;
	border: 0;
	background: transparent;
	margin:8px;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.field-group-close:hover {
	color: red;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.field-group p {
	text-align:left;
	margin-left:10px;
}

.field-group a {
	color: #FFFF00;
}

.field-group a:hover {
	color:black;
}